.background {
    background:url(../../assets/imgs/bg.jpg)  50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.logo {
    width: 100%;
    padding: 46px;
   
}
img {
    width: 517px
}
.home {
padding-top: 78px;
padding-bottom: 80px;
}
 
.col-md-4 img{
height: 266px;
}

.col-md-4 .btn-primary {
    color: #fff;
    background-color: #bdba2d;
     border-color: #fff;
    width: 151px;
}
.panel-default {
    margin-bottom: 0;
    padding-bottom: 0;
    border-color: #ddd;
    color: #fff;
    background-color: #404040;
}
a {
    color: #fdfb86;
    text-decoration: none;
    font-weight: bold;
    padding-left: 4px;
}

.col-md-4 h3 {
 height: 84px;    
}